.About
{
    color: rgb(255, 230, 5);
    font-style: italic;
    text-decoration:underline;
    font-family: 'Times New Roman', Times, serif;
}

.FontSize
{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
}

.Name
{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h4
{
    font-family: 'Times New Roman', Times, serif;
}

.img
{
    border-radius: 8px;
}

.dark
{
    background-color: rgb(26, 24, 24);
}

body
{
    background-color: rgb(32, 19, 19);
}

#theme-btn
{
    background: linear-gradient(to bottom right, rgb(195, 42, 200), rgb(223, 231, 10));
    border-radius: 8px;
    border: 2px solid rgb(239, 250, 39);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: auto;
    padding: 6px;
    cursor: pointer;
    color: black;
  }

.button
{
    background: linear-gradient(to bottom right, rgb(195, 42, 200), rgb(223, 231, 10));
    border-radius: 8px;
    border: 2px solid rgb(239, 250, 39);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 6px;
    margin: auto;
    cursor: pointer;
    color: black;
}

#copyButton
{
    height: auto;
    border-radius: 8px;
    padding: 10px;
    font-size: 2 0px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    border: 2px solid rgb(239, 250, 39);
    background: linear-gradient(to bottom right, rgb(195, 42, 200), rgb(223, 231, 10));
}

#CARD
{
    background: linear-gradient(to bottom right, rgb(14, 48, 80), rgb(18, 156, 119));
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(236, 228, 4);
    color: black;
}

