.About
{
    color: rgb(104, 63, 79);
    font-style: italic;
    text-decoration:underline;
    font-family: 'Times New Roman', Times, serif;
}

.FontSize
{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
}

.Name
{
    font-family: 'Times New Roman', Times, serif;
}

h4
{
    font-family: 'Times New Roman', Times, serif;
}
